/* Bases */
*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body{
    background-color: #FFFAFA;
}
/* Control de colores y letras*/
.y {
    background-color: #FFFF00;
    border-color: #FFFFE0;
}
.r {
    background-color: #e50914;
    border-color: #CD5C5C;
    color: #FFFAFA;
}
.b{
    background-color: #0000FF;
    border-color: #6495ED;
    color: #FFFFF0;
}
.g {
    background-color: #32CD32;
    border-color: #00FF00;
}
.pk{
    background-color: #FF69B4;
    border-color: #FFB6C1;
}
.or{
    background-color: #FF7F50;
    border-color: #FFA07A;
    color: #FFFAFA;
}
/* Estilos para botones*/
.btn{
    text-align: center;
    display: block;
    border-radius: 30%;
    border: 1% solid;
    border–top: 4px solid ;
    border–right: 4px solid ;
    border–bottom: 1px solid ;
    border–left: 1px solid ;
    margin: 1% 0.3% 1% 1%; 
}
.btn:active{
    box-shadow: 3px 3px #A9A9A9;
}
/* Tamaños de Elementos*/
.l {
    text-align: center;
    width: 75px;
    height: 50px;
    padding: 0.2%;
}
.md{
    text-align: center;
    width: 105px;
    height: 80px;
    padding: 0.5%;
}
.bg{
    text-align: center;
    width: 125px;
    height: 100px;
    padding: 1%;
}
.ebg {
    text-align: center;
    width: 145px;
    height: 120px;
    padding: 5%;
}